<h1>Editing Api Access Allowed Ip</h1>

<%= render 'form', api_access_allowed_ip: @api_access_allowed_ip %>

<%= link_to 'Show', @api_access_allowed_ip %> |
<%= link_to 'Back', api_access_allowed_ips_path %>
