<h2>APIアクセス制限</h2>

<% if ApiAccessAllowedIp.count > 0 %>
  <p>ホワイトリスト方式です。</p>
  <table class="table">
    <thead>
      <tr>
        <th>Ip</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @api_access_allowed_ips.each do |api_access_allowed_ip| %>
        <tr>
          <td><%= api_access_allowed_ip.ip %></td>
          <td><%= link_to 'Destroy', api_access_allowed_ip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-error' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>※現在設定がありません。全てのIPアドレスからのAPIへのアクセスを許可しています。</p>
<% end %>

<br>

<%= link_to 'New', new_api_access_allowed_ip_path, class: 'btn' %>
