<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @api_access_allowed_ip.ip %>
</p>

<%= link_to 'Edit', edit_api_access_allowed_ip_path(@api_access_allowed_ip) %> |
<%= link_to 'Back', api_access_allowed_ips_path %>
