<h1>Editing Bcc Conversion Disable Domain</h1>

<%= render 'form', bcc_conversion_disable_domain: @bcc_conversion_disable_domain %>

<%= link_to 'Show', @bcc_conversion_disable_domain %> |
<%= link_to 'Back', bcc_conversion_disable_domains_path %>
