<p>
  <strong>Domain:</strong>
  <%= @bcc_conversion_disable_domain.domain %>
</p>

<%= link_to 'Edit', edit_bcc_conversion_disable_domain_path(@bcc_conversion_disable_domain) %> |
<%= link_to 'Back', bcc_conversion_disable_domains_path %>
