<h1>Editing Attachments Encryption Disable Email</h1>

<%= render 'form', attachments_encryption_disable_email: @attachments_encryption_disable_email %>

<%= link_to 'Back', attachments_encryption_disable_emails_path, class: 'btn' %>
