<h1>Attachments Encryption Disable Emails</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments_encryption_disable_emails.each do |attachments_encryption_disable_email| %>
      <tr>
        <td><%= attachments_encryption_disable_email.email %></td>
        <td><%= link_to 'Edit', edit_attachments_encryption_disable_email_path(attachments_encryption_disable_email), class: 'btn' %></td>
        <td><%= link_to 'Destroy', attachments_encryption_disable_email, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-error' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachments Encryption Disable Email', new_attachments_encryption_disable_email_path, class: 'btn' %>
