<h2>添付ファイル暗号化無効アドレス 新規作成</h2>

<%= render 'form', attachments_encryption_disable_email: @attachments_encryption_disable_email %>

<%= link_to 'Back', attachments_encryption_disable_emails_path, class: 'btn' %>
