<p>
  <strong>Email:</strong>
  <%= @attachments_encryption_disable_email.email %>
</p>

<%= link_to 'Edit', edit_attachments_encryption_disable_email_path(@attachments_encryption_disable_email) %> |
<%= link_to 'Back', attachments_encryption_disable_emails_path %>
