<h2>添付ファイル暗号化無効送信先ドメイン 新規作成</h2>

<%= render 'form', attachments_encryption_disable_domain_to: @attachments_encryption_disable_domain_to %>

<%= link_to 'Back', attachments_encryption_disable_domain_tos_path, class: 'btn' %>
