<h1>New Attachments Encryption Disable Domain To</h1>

<%= render 'form', attachments_encryption_disable_domain_to: @attachments_encryption_disable_domain_to %>

<%= link_to 'Back', attachments_encryption_disable_domain_tos_path %>
